*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --mainColor:rgb(255, 29, 29);
    --textColor:rgb(224, 224, 224);
}
body{
    color: var(--textColor);
    background-color: rgb(34, 34, 34);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif ;
    min-height: 100vh;
    transition: all .5s ease;
    flex-direction: column;
   justify-content: space-between;
}
li{
    list-style: none;
}
.headerMain{
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 2rem 30px;
}
header{
    background-color: rgb(17, 17, 17);
}
.navHeader{
    min-height: 40px;
    display: inline-block;
}
.navLogoLink{
    text-decoration: none;
    color: var(--textColor);
    display: inline-block;
}
.headerNavigation{
    display: inline-block;
}
.navLogo{
    display: inline-block;
    margin-right: 5rem;
    margin-bottom: 1rem;
}
.headerNavigationItem{
    display: inline;
}
.navLogoIcon{
    display: inline-block;
    background-color: var(--mainColor);
    width: 1rem;
    height: 1rem;
    border-radius: 5%;
    margin-right: 0.6rem;
}
.navLogoName{
    font-weight: bold;
    font-family: 'Otomanopee One', sans-serif;
    font-size: 1.5rem;
    
}
.navLogoDescription{
    font-size: 1.1rem;
    
}
.headerNavigationLink{
    text-decoration: none;
    color: var(--textColor);
    font-size: 0.9rem;
    padding: 0.5rem 1.8rem;
    display: inline-block;
    letter-spacing: 1px;
}
.navLogoText{
    display: inline-block;
}

/* Main */
section{
    padding: 0 2rem;
    padding-bottom: 2rem;
}
.mainContainer{
    margin: 0 auto;
    max-width: 900px;
    padding: 0 2rem;
}
.aboutMe{
    margin-top: 5vw;

}
.aboutMeContainer{
    display: flex;
    /* flex-wrap: wrap-reverse; */
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-bottom: 5rem;
}
.aboutMeLeft{
    background-color: rgb(17, 17, 17);
    flex: 0 0 270px;
    box-shadow: -8px 4px 15px 2px rgb(0 0 0 / 20%);
    text-align: center;
}
.aboutMeLeftPhotoMyphoto{
    display: inline-block;
    /* width: 200px; */
    /* border-radius: 50%; */
    margin-bottom: 2rem;
}
.aboutMeLeftName{
    margin: 0 auto 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1.9rem;
}
.aboutMeLeftLine{
    margin: 0 auto;
    height: 2px;
    width: 80px;
    background-color: var(--mainColor);
    margin-bottom: 1.5rem;
}
.aboutMeLeftJob{
    margin: 0 auto;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1rem;
}
.fab, .fas {
    font-size: 1.25rem;
    color: #000000;
}

.fab:hover {
    /* content: url(./img/GitHub3.png); */
}
/* .aboutMeContactsLinks{
    text-decoration: none;
    color: #000000;
} */
.fa-github:before {
    content: url(./img/GitHub2.png);
}
.aboutMeRight{
    display: inline-block;
    flex: 1 1 440px;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.aboutMeRightHello{
    font-size: 5vmax;
    font-weight: 900;
}
p{
    line-height: 1.8;
}