:root {
    --main_color: #457abe;
  }
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif ;
    font-size: 16px;
    
    
}
@media screen and (max-width: 800px){
	.body {
		overflow-x: scroll;

	}
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 55px;
    letter-spacing: 7px;
}

.container{
    background-color: #f3f3f3;
    margin: auto;

    max-width: 70%;   
}
@media screen and (max-width: 850px){
	.container {
        max-width: 99%;    

	}
}
@media screen and (min-width: 850px) and (max-width: 1200px){
	.container {
		max-width: 85%;   

	}
}

.header_and_article{
    display: flex;

}
.Name{
    
    margin-top: 90px;
}
footer{
    text-align: center;
    padding-bottom: 20px;
}
.img_rsschool{
    margin-left: 40px;
}
.github{
    margin-left: 40px;
}
.date_footer{
    margin-left: 40px;
}
span{
    font-weight: bold;
}
.frontend_developer{
    font-size: 11px;
    background-color: var(--main_color);
    color: #ffff;
    padding: 2px;
    width: 149px;
    letter-spacing: 1.5px;
    margin-top: -35px;
}
article{
    background-color: var(--main_color);
    margin-left: 10%;
    padding-top:110px;
    padding-right: 10px;
    color: #ffff;
    width: 59%;
    padding-bottom: 40px;

}
li{
    padding-top: 10px;
}
.line1{
    height: 3.5px;
    width: 50px;
    background-color: var(--main_color);
    margin-top: 40px;
    
}
.about_me{
   
    width: 80%;
    text-align: justify;
    margin-top: 40px;   
}
.header_and_article{
    
    margin-left: 70px;
}
main{
    margin-left: 70px;
    margin-top: 50px;
}
.photo{
    margin-left: 0;
    width: 30%;
}
.figure_and_skills{
    display: flex;
}
.experience_and_education{
    margin-left: 5%;
}
.line2{
    height: 3.5px;
    width: 50px;
    background-color: var(--main_color);
    margin-top: -15px;
    margin-bottom: 15px;
    
}
.education{
    margin-top: 50px;
}
.work_experience{
  
    margin-top: 40px;
}
.english{
    margin-left: 10%;
}
.skills_and_english_and_code{
    display: flex;
}
.code_example{
    margin-left: 10%;
}




